*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --ff-tittle: 'Staatliches', 'sans serif';
    --ff-text: 'Palanquin', 'sans serif';
    --ff-card: 'Staatliches', 'sans serif';
    --ff-footer: 'Open Sans', sans-serif;

    font-size: 62.5%;

    --fs-body: 1.6rem;
    --fs-card: 2rem;

    --fc-text:#23053A;


}

.page{
    display: grid;

    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: column;

    background: #8E9AAF;
}

header img{
    height: 137px;
    margin: 32px auto 32px;

    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));

    animation: downtop 300ms 200ms backwards;
}

header h1{
    font-family: var(--ff-tittle);
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 34px;
    letter-spacing: 0.05em;
    color: #FFFFFF;

    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    background: #CBC0D3;

    padding: 8px 0 7px;
    text-align: center;
    margin-bottom: 29px;

    animation: downtop 700ms 200ms backwards;
}

main{
    min-width: 38.4rem;
    font-size: var(--fs-body);
}

.cabecalho p{
    min-width: 32rem;

    font-family: var(--ff-text);
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--fc-text);
    text-align: center;

    margin: 1.4rem 3.6rem 6.3rem;
}

.wrapper{
    min-width: 38.4rem;

    display:grid;
    justify-content: center;
    padding: 0 3.2rem;
    gap: 3.2rem;
}

.card{
    position: relative;

    transition: all 200ms;

    animation: downtop 300ms 200ms backwards;
}

.card:hover{
    transform: scale(1.1);
    opacity: 0.8;
}

.card img{
    width: 100%;
    min-width: 32rem;
    object-fit: cover;
    border-radius: 20px;
}

.img_01{
    height: 25rem;
}
.img_02{
    height: 45rem;
}


.card h2{

    font-family: var(--ff-card);
    font-style: normal;
    font-weight: 400;
    color: #4A4E69;
    font-size: var(--fs-card);
    line-height: 3.4rem;

    position: absolute;
    top: 0;
    right: 0;

    background-color: #FEEAFA;

    width: fit-content;
    padding: 0 2.4rem;
    margin: 1.6rem;

    border-radius: 2rem;

    animation: topdown 1600ms 200ms backwards;
}

footer{
    text-align: center;
    padding: 5rem 0;

    font-family: var(--ff-footer);
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: #4A4E69;
}

footer a{
    text-decoration: none;
    font-weight: 700;
}

footer a:hover{
    opacity: 0.8;
}

@media (min-width:700px) {
    
    .wrapper{
        grid-template-columns: 1fr 1fr;
        
    }
    .img_02, .img_01{
        height: 45rem;
    }

}

@media (min-width: 900px) {

    :root{
        --ff-text: 'Roboto', sans-serif;
        --fc-text:#FFFFFF;
    }

    .page{
        grid-template-areas: "A B";
        grid-template-columns: 37.7rem 106.3rem ;
        justify-items: start;
    } 
    .cabecalho{
        width: 37.7rem;
        background: #8E9AAF;
    }
    
    .cabecalho p{
        font-size: 1.4rem;
        line-height: 2.0rem;
        width: 27.5rem;
        min-width: auto;
    }
    
    .wrapper{
        grid-template-columns: auto;
        grid-template-areas: 
        "img1 img3 img5"
        "img2 img3 img6"
        "img2 img4 img6";
        grid-template-rows: 15rem 17.5rem 17.5rem;
    }

    .wrapper div:nth-child(1){
        grid-area: img1;
    }
    .wrapper div:nth-child(2){
        grid-area: img2;
    }
    .wrapper div:nth-child(3){
        grid-area: img3;
    }
    .wrapper div:nth-child(4){
        grid-area: img4;
    }
    .wrapper div:nth-child(5){
        grid-area: img5;
    }
    .wrapper div:nth-child(6){
        grid-area: img6;
    }

    .card img{
        width: 22rem;
        min-width: auto;
        height: 100%;
    }

    main{
        padding:6.3rem 0 0 6.6rem;
        max-width: 106.3rem;
        margin:none;
    }

    .card h2{
        display: none;
    }
}

@keyframes topdown {

    0%{
        opacity: 0;
        transform: translateY(-15px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
    
}


@keyframes downtop {

    0%{
        opacity: 0;
        transform: translateY(15px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
    
}
